
/* CSS reset **/
html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
header{
    height: 50px;
    background-color:#22a6b3;
    color: white;
}
header>*{
    display:inline-block;
}
header>h3{
    padding-left: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
header>a{
    float: right;
    width: auto;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;

}
.container{
    width:90%;
    padding: 3%;
    margin:0 auto;
}
@media screen and (min-width:760px){
    .container{
        width:50%;
    }
}
.description{
    font-size: 18px;
    line-height: 2;
}
.title{
    font-size: 24px;
    font-weight: 700;
}
.code-block{
    font-family: "Courier New",Courier,monospace;
    background: rgba(0,0,0,.05);
    padding: 20px;
    white-space: pre-wrap;

}